@page
@model ICC.Web.Pages.AccountDetailsModel
@{
    ViewData["Title"] = "Account Details";
}
@* @if (ErrorMessage != null)
{
<DisplayError ErrorMessage="EBAT NE ROBIT"></DisplayError>
}
@else *@

<h3 class="mb-5">Account Details</h3>
<div class="row">
    <div class="col-md-6">
        <h3>@Model.accountDto.Address</h3>
        <p class="mb-4">@Model.accountDto.EffectiveDate</p>
        <p class="mb-4">
            <b>
                @Model.accountDto.Square.ToString()&nbsp
            </b>
        </p>
        <a class ="btn btn-outline-warning asp-page="./EditAccount" asp-route-id="@Model.accountDto.Id">Edit</a>       @* переход на edit *@
    </div>

</div>
